<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/client_styles/assets/css/cart.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    
</head>

<body>
    <div class="cart__container grid">
            <h1>Giỏ hàng</h1>
            <div class="cart transition is-open">
            
                <div class="table">
                
                    <div class="layout-inline row th">
                        <div class="col-auto ">Chọn</div>
                        <div class="col-4 col-pro">Sản phẩm</div>
                        <div class="col col-price align-center "> 
                            Đơn giá
                        </div>
                        <div class="col-auto col-qty align-center">Số lượng</div>
                        
                        <div class="col">Thành tiền</div>
                        <div class="col-auto col__bin"><i class="far fa-trash-alt"></i></div>
                    </div>
                   
                    {{#each client_accounts.giohang}}
                    {{#chanle @index}}
                    <div class="layout-inline row">
                        <div class="col-auto col__checkbox"><input id="input_loai" class="checkbox" name="loai" type="checkbox" value="Web"/></div>
                        <div class="col-4 col-pro layout-inline">
                            <img class="cart__img" src="{{this.hinhanh}}"alt="">
                            <p class="item__name">{{this.tensach}}</p>
                        </div>
                        
                        <div class="col col-price col-numeric align-center ">
                            <span class="col-price">{{this.giaban}}000 </span>
                        </div>
                
                        <div class="col-auto col-qty layout-inline">
                            <a href="#" class="qty qty-minus"><span>-</span></a>
                            <input class="input__qty" type="numeric" value="{{this.soluong}}" />
                            <a href="#" class="qty qty-plus"><span>+</span></a>
                        </div>
                        
                        <div class="col col-vat col-numeric">
<<<<<<< HEAD
                            <p class="price__item" value="{{tinhtien this.giaban '*' this.soluong}}.000">{{tinhtien this.giaban '*' this.soluong}}.000 đ</p>
=======
                            <p class="col-vat" >{{tinhtien this.giaban this.soluong}}000 </p>
>>>>>>> fac979c72d68766cc5466d62c210ad916c83a1da
                        </div>
                            
                        <div class="col-auto col__bin">               
                            <i class="far fa-trash-alt"></i>
                        </div>
                    </div>
                    {{else}}
                    <div class="layout-inline row row-bg2">
            
                        <div class="col-auto col__checkbox"><input id="input_loai" class="checkbox" name="loai" type="checkbox" value="Web"/></div>
                        <div class="col-4 col-pro layout-inline">
                            <img class="cart__img" src="{{this.hinhanh}}"alt="">
                            <p class="item__name">{{this.tensach}}</p>
                        </div>
                        
                        <div class="col col-price col-numeric align-center ">
                            <span class="col-price">{{this.giaban}}000 </span>
                        </div>
                
                        <div class="col-auto col-qty layout-inline">
                            <a href="#" class="qty qty-minus"><span>-</span></a>
                            <input class="input__qty" type="numeric" value="{{this.soluong}}" />
                            <a href="#" class="qty qty-plus"><span>+</span></a>
                        </div>
                        
                        <div class="col col-vat col-numeric">
                            <p>{{tinhtien this.soluong '*' this.giaban}}.000 đ</p>
                        </div>
                            
                        <div class="col-auto col__bin">               
                            <i class="far fa-trash-alt"></i>
                        </div>
                    
                    </div>
                    {{/chanle}}
                {{/each}}
                    <div class="tf">
                    </div>         
                </div>
            
                <div class="col-3 border" style="padding-top:80px;">
                    <div class="cart-store">
                        <img class="cart-logo-img" src="/client_styles/assets/img/logo.png" alt="">
                        <span class="cart-label">DaBook Store</span>
                    </div>
                    <div class="cart-detail">
                        <div class="user__cart-delivery">
                            <div>
                                <span style="font-weight: 400;">Giao hàng đến: </span>
                                <span style="font-weight: 400;">{{client_accounts.matk}}</span>
                            </div>
                            <div>
                                <span style="font-weight: 400;">Số điện thoại: 0{{client_accounts.sodt}}</span>
                            </div>
                            <div class="cart_address">
                                <span style="font-weight: 400;">Địa chỉ: {{client_accounts.diachigh}} </span>
                            </div>
                            <a href="" style="text-decoration: none; justify-content: space-around;">Thay đổi</a>
                        </div>
                        <div class="cart-delivery" style="padding: 5px 0 4px;"> 
                            <p style="font-weight: 400; font-size: 1.8rem; color: #666;">Thông tin đơn hàng</p>
                        </div>
                        <div class="cart-delivery" style="padding: 2px 0;">
                            <span style="color: #666;">Tạm tính </span>
                            <span style="color: #666;">(0) sản phẩm </span>
                        </div>
                        <div class="cart-delivery" style="padding: 6px 0 14px;">
                            <span style="color: #666;">Phí giao hàng</span>
                            <span class="totals-value" id="cart-shipping" style="color: #666;">40000 </span>
                        </div>
                        <ul class="list-cart">
                            {{!-- <li class="list-cart-item" style="display: none;">
                                <i class="fas fa-city"></i>
                                Nội thành: TP HCM
                                <div class="cart-prices">
                                    <div class="cart-price">
                                        <span>20.000 đ</span>
                                    </div>
                                </div>
                            </li>
                            <li class="list-cart-item">
                                <i class="fas fa-map-marked-alt"></i>
                                Ngoại thành
                                <div class="cart-prices">
                                    <div class="cart-price">
                                        <span>40.000 đ</span>
                                    </div>
                                </div>
                            </li> --}}
                            
                            <li class="list-cart-item">
                                <form method="get" action="/nhapkhuyenmai" class="input__sale">
                                    <input class="form__code-sale" id="input__code-sale" type="text" placeholder="Nhập mã khuyến mãi" name="makm" value="{{makhuyenmai.makm}}">
                                    <button type="submit" class="btn__apply" id="apply" >Áp dụng</button>
                                </form>
                                <div class="cart__sale">
                                    <span>Giảm giá:</span>
                                    {{#if makhuyenmai}}
                                    <span> {{tinhtien 100 '%' makhuyenmai.phantram }}.000 đ</span>
                                    {{else}}
                                    <span> 0đ</span>
                                    {{/if}}
                                </div>
                                <div class="cart__total">
                                    <span>Tổng tiền:</span>
                                    {{#each client_accounts.giohang}}
                                    <span>{{total this.giaban}} đ</span>
                                    {{/each}}
                                </div>
                            </li>

                        </ul>
                    </div>
                    
                </div> 
                <a href="/payment">
                    <button type="submit" class="btn__buy-book" id="buy" >Xác nhận đặt sách</button>
                </a>
                
        </div>
    </div>

    <script>
        $('.visibility-cart').on('click',function(){
       
       var $btn =  $(this);
       var $cart = $('.cart');
       console.log($btn);
       
       if ($btn.hasClass('is-open')) {
          $btn.removeClass('is-open');
          $btn.text('O')
          $cart.removeClass('is-open');     
          $cart.addClass('is-closed');
          $btn.addClass('is-closed');
       } else {
          $btn.addClass('is-open');
          $btn.text('X')
          $cart.addClass('is-open');     
          $cart.removeClass('is-closed');
          $btn.removeClass('is-closed');
       }
     
                       
     });
     
       // SHOPPING CART PLUS OR MINUS
       $('a.qty-minus').on('click', function(e) {
         e.preventDefault();
         var $this = $(this);
         var $input = $this.closest('div').find('input');
         var value = parseInt($input.val());
         
         if (value > 2) {
           value = value - 1;
         } else {
           value = 0;
         }
         $input.val(value);    
       });
     
       $('a.qty-plus').on('click', function(e) {
         e.preventDefault();
         var $this = $(this);
         var $input = $this.closest('div').find('input');
         var value = parseInt($input.val());
     
         if (value < 100) {
         value = value + 1;
         } else {
           value =100;
         }
     
         $input.val(value);
       });
     
     // RESTRICT INPUTS TO NUMBERS ONLY WITH A MIN OF 0 AND A MAX 100
     {{!-- $('input').on('blur', function(){
     
       var input = $(this);
       var value = parseInt($(this).val());
     
         if (value <= 0 || isNaN(value)) {
           input.val(0);
         } else if
           (value > 100) {
           input.val(100);
         }
     }); --}}

     function totalIt()
    {
        var input = document.getElementsByClassName(".cart__total");
        var total = 0;
        for (var i = 0; i < input.length; i++)
        {
                total += parseFloat(input[i].value);
        }
        document.getElementsByClassName(".cart__total").value = total.toFixed(2) + " đ";
    }
    </script>

    <script>

        var shippingRate = 40000; 
        var fadeTime = 300;

        /* Assign actions */
        $('.col-qty input').change( function() {
        updateQuantity(this);
        });

        function recalculateCart()
        {
        var subtotal = 0;
        
        /* Sum up row totals */
        $('.layout-inline').each(function () {
            subtotal += parseInt($(this).children('.col-vat').text());
        });

        console.log(subtotal);
        
        /* Calculate totals */
        var sale = 0;  // Để tạm
        var shipping = (subtotal > 0 ? shippingRate : 0);
        var total = subtotal - sale + shipping;
        console.log(total);
        
        /* Update totals display */
        $('.totals-value').fadeOut(fadeTime, function() {
            $('#cart-subtotal').html(subtotal.toFixed(2));
            $('#cart-sale').html(sale.toFixed(2));
            $('#cart-shipping').html(shipping.toFixed(2));
            $('#cart-total').html(total.toFixed(2));
            console.log(total);
            if(total == 0){
            $('.btn__buy-book').fadeOut(fadeTime);
            }else{
            $('.btn__buy-book').fadeIn(fadeTime);
            }
            $('.totals-value').fadeIn(fadeTime);
        });
        }

        function updateQuantity(quantityInput)
        {
        /* Calculate line price */
        var productRow = $(quantityInput).parent().parent();
        var price = parseFloat(productRow.children('.col-price').text());
        var quantity = $(quantityInput).val();
        var linePrice = price * quantity;
        
        /* Update line price display and recalc cart totals */
        productRow.children('.col-vat').each(function () {
            $(this).fadeOut(fadeTime, function() {
            $(this).text(linePrice.toFixed(2));
            recalculateCart();
            $(this).fadeIn(fadeTime);
            });
        });  
        }
    </script>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous">
      </script>
      <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
      integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
      crossorigin="anonymous">
      </script>
</body>
</html>
