<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DaBook Shop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <link rel="stylesheet" href="/client_styles/assets/css/base.css" />
    <link rel="stylesheet" href="/client_styles/assets/css/book_detail.css" />
    <link
      rel="stylesheet"
      href="/client_styles/assets/fonts/themify-icons/themify-icons.css"/>
    <link rel="stylesheet"
      href="/client_styles/assets/fonts/fontawesome-free-5.15.4/fontawesome-free-5.15.4-web/css/all.min.css"/>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
    <link rel="stylesheet" href="http://example.com/foobar/fonts/glyphicons-halflings-regular.woff">
    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"><div class="pd-wrap">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
	
</head>

<body>

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 

	<div class="container" style="background-color: #fff; border-radius: 4px;  margin-bottom: 20px">
		<div class="row">
			<div class="col-md-6">
				<div id="slider" class="owl-carousel product-slider">
					<div class="item">
						<img src="{{books.hinhanh}}" />
					</div>
					<div class="item">
						<img src="https://vcdn1-giaitri.vnecdn.net/2007/10/15/harry-7n-1348828782.jpg?w=480&h=0&q=100&dpr=1&fit=crop&s=txbVYg7pv4wkH1wgforq6A" />
					</div>
					<div class="item">
						<img src="https://s3.cloud.cmctelecom.vn/tinhte1/2017/07/4091765_upload_2017-7-21_13-59-45.png" />
					</div>
					<div class="item">
						<img src="https://cf.shopee.vn/file/deaaa5e46f0bcf760eb6f6ae6a1f584e" />
					</div>
					<div class="item">
						<img src="http://isach.info/images/story/cover/harry_potter_va_ten_tu_nhan_nguc_azkaban__j_k_rowling.jpg" />
					</div>
					<div class="item">
						<img src="https://revelogue.com/wp-content/uploads/2020/05/harry-potter-va-ten-tu-nhan-nguc-azkaban-anh-e1588427418465.jpg" />
					</div>
					<div class="item">
						<img src="https://vcdn.tikicdn.com/media/catalog/product/n/x/nxbtre_full_21422017_044234.u2769.d20170227.t140710.991739.jpg" />
					</div>
				</div>
				
				<div id="thumb" class="owl-carousel product-thumb">
					<div class="item" name="hinhanh">
						<img src="{{books.hinhanh}}" />
					</div>
					<div class="item">
						<img src="https://vcdn1-giaitri.vnecdn.net/2007/10/15/harry-7n-1348828782.jpg?w=480&h=0&q=100&dpr=1&fit=crop&s=txbVYg7pv4wkH1wgforq6A" />
					</div>
					<div class="item">
						<img src="https://s3.cloud.cmctelecom.vn/tinhte1/2017/07/4091765_upload_2017-7-21_13-59-45.png" />
					</div>
					<div class="item">
						<img src="https://cf.shopee.vn/file/deaaa5e46f0bcf760eb6f6ae6a1f584e" />
					</div>
					<div class="item">
						<img src="http://isach.info/images/story/cover/harry_potter_va_ten_tu_nhan_nguc_azkaban__j_k_rowling.jpg" />
					</div>
					<div class="item">
						<img src="https://revelogue.com/wp-content/uploads/2020/05/harry-potter-va-ten-tu-nhan-nguc-azkaban-anh-e1588427418465.jpg" />
					</div>
					<div class="item">
						<img src="https://vcdn.tikicdn.com/media/catalog/product/n/x/nxbtre_full_21422017_044234.u2769.d20170227.t140710.991739.jpg" />
					</div>
				</div> 
				
			</div>
			<div class="col-md-6">
				<div class="product-dtl">
					<div class="product-info">
						<div class="product-name" name="tensach">
							<h1><b>{{books.tensach}}</b></h1>
						</div>
						<div class="reviews-counter">
							<div class="rate">
								<input type="radio" id="star5" name="rate" value="5" checked />
								<label for="star5" title="text">5 stars</label>
								<input type="radio" id="star4" name="rate" value="4" checked />
								<label for="star4" title="text">4 stars</label>
								<input type="radio" id="star3" name="rate" value="3" checked />
								<label for="star3" title="text">3 stars</label>
								<input type="radio" id="star2" name="rate" value="2" />
								<label for="star2" title="text">2 stars</label>
								<input type="radio" id="star1" name="rate" value="1" />
								<label for="star1" title="text">1 star</label>
								</div>
							<span>{{books.sodanhgia}}</span>
						</div>
						<div class="product-price-discount"><span name="giaban">{{books.giaban}}.000 đ</span><span class="line-through">{{books.giagoc}}</span></div>
					</div>
					<p>Tác giả: <span>{{books.tacgia}}</span> </p>
					<p>Thể loại: <span>{{books.theloai}}</span> </p>
					<p>Nhà xuất bản: <span>{{books.nxb}}</span> </p>
					
					<div class="product-count">
						<label for="size">Số lượng</label>
						<form class="display-flex">
							<div class="qtyminus">-</div>
							<input type="text" name="soluong" value="1" class="qty">
							<div class="qtyplus">+</div>
						</form>
						<a href="" class="round-black-btn">Thêm vào giỏ hàng</a>
						 {{!-- <button class="round-black-btn" type="submit">Thêm vào giỏ hàng</button> --}}
					</div>
				</div>
				<div class="info-item col-auto border">
					<div class="info-store">
						<img class="info-logo-img" src="/client_styles/assets/img/logo.png" alt="">
						<span class="info-label">DaBook Store</span>
					</div>
					<div class="info-detail">
						<div class="info-delivery">
							<i class="fas fa-truck"></i>
							<span>Chính sách vận chuyển</span>
						</div>
						<ul class="list-info">
							<li class="list-info-item">
								<i class="fas fa-city"></i>
								Nội thành: TP HCM
								<div class="info-prices">
									<div class="info-price">
										<span>20.000 đ</span>
									</div>
								</div>
							</li>
							<li class="list-info-item">
								<i class="fas fa-map-marked-alt"></i>
								Ngoại thành
								<div class="info-prices">
									<div class="info-price">
										<span>40.000 đ</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		
		<div class="swiper featured-slider">             
                    <div class="swiper-wrapper" style="height: auto; width: 100%">
					{{#each list_books}}
					<div class="grid__column-2 swiper-slide box">
						<a class="home-product-item" href="/chitietsach/{{this.tensach}}">
							<div class="home-product-item__img"
								style="background-image: url({{this.hinhanh}});">
							</div>
							<h4 class="home-product-item__name d-inline-block" style="display:-webkit-box">{{this.tensach}}</h4>
							<div class="home-product-item__price">
								<span class="home-product-item__price-old">{{this.giagoc}}</span>
								<span class="home-product-item__price-current">{{this.giaban}}.000 đ</span>
							</div>
							<div class="home-product-item__action">
								<span class="home-product-item__like home-product-item--liked">
									<i class="home-product-item__like-icon-empty far fa-heart"></i>
									<i class="home-product-item__like-icon-fill fas fa-heart"></i>
								</span>
								<div class="home-product-item__rating">
									<i class="home-product-item__star--gold fas fa-star"></i>
									<i class="home-product-item__star--gold fas fa-star"></i>
									<i class="home-product-item__star--gold fas fa-star"></i>
									<i class="home-product-item__star--gold fas fa-star"></i>
									<i class="fas fa-star"></i>
								</div>
								<span class="home-product-item__sold">57 đã bán</span>
							</div>

							<div class="home-product-item__favourite">
								<i class="fas fa-check"></i>
								<span>Yêu thích</span>
							</div>
							<div class="home-product-item__sale-off">
								<span class="home-product-item__sale-off-percent">{{this.giamgia}}%</span>
								<span class="home-product-item__sale-off-label">GIẢM</span>
							</div>
						</a>
					</div>
				{{/each}}	
				</div>
					<div class="swiper-button-next" style="height: 24px !important; width: 18px !important; font-weight:700; background-size: 15px 20px; color: transparent; "></div>
					<div class="swiper-button-prev" style="height: 24px !important; width: 18px !important; font-weight:700; background-size: 15px 20px; color: transparent; "></div>
		</div>
			</div>
			
			<!-- /.recommended-items-->
			<div class="product-description mb-5">
				<h2 class="mb-5">Thông tin chi tiết</h2>
				<dl class="row mb-5">
				<dt class="col-sm-3">Tên sách</dt>
				<dd class="col-sm-9">{{books.tensach}}</dd>
				<dt class="col-sm-3">Tác giả</dt>
				<dd class="col-sm-9">{{books.tacgia}}</dd>
				<dt class="col-sm-3">Thể loại</dt>
				<dd class="col-sm-9">{{books.theloai}}</dd>
				<dt class="col-sm-3">Nhà xuất bản</dt>
				<dd class="col-sm-9">{{books.nxb}}</dd>
				<dt class="col-sm-3">Năm xuất bản</dt>
				<dd class="col-sm-9">{{Date}}</dd>
				<dt class="col-sm-3">Ngôn ngữ</dt>
				<dd class="col-sm-9">{{books.ngonngu}}</dd>
				<dt class="col-sm-3">Hình thức bìa</dt>
				<dd class="col-sm-9">{{books.hinhthuc}}</dd>
				</dl>
			</div>
		
		<div class="product-info-tabs">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Mô tả</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Đánh giá (0)</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
					{{books.mota}}
				</div>
				<div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
					<div class="review-heading">Đánh giá sản phẩm</div>
					<p class="mb-20">Chưa có đánh giá</p>
						<div class="container">
						<div class="row">
							<div class="col-xs-12 col-md-6">
								<div class="well well-sm">
									<div class="row">
										<div class="col-xs-12 col-md-6 text-center">
											<h1 class="rating-num">
												4.0</h1>
											<div class="rating">
												<i class="ti-star"></i><i class="ti-star">
												</i><i class="ti-star"></i><i class="ti-star">
												</i><i class="ti-star"></i>
											</div>
											<div>
												<span class="glyphicon glyphicon-user"></span> 1,050,008 total
											</div>
										</div>
										<div class="col-xs-12 col-md-6">
											<div class="row rating-desc">
												<div class="col-xs-3 col-md-3 text-right">
													<i class="ti-star"></i>5
												</div>
												<div class="col-xs-8 col-md-9">
													<div class="progress progress-striped">
														<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
															aria-valuemin="0" aria-valuemax="100" style="width: 80%">
															<span class="sr-only">80%</span>
														</div>
													</div>
												</div>
												<!-- end 5 -->
												<div class="col-xs-3 col-md-3 text-right">
													<i class="ti-star"></i>4
												</div>
												<div class="col-xs-8 col-md-9">
													<div class="progress">
														<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20"
															aria-valuemin="0" aria-valuemax="100" style="width: 60%">
															<span class="sr-only">60%</span>
														</div>
													</div>
												</div>
												<!-- end 4 -->
												<div class="col-xs-3 col-md-3 text-right">
													<i class="ti-star"></i>3
												</div>
												<div class="col-xs-8 col-md-9">
													<div class="progress">
														<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"
															aria-valuemin="0" aria-valuemax="100" style="width: 40%">
															<span class="sr-only">40%</span>
														</div>
													</div>
												</div>
												<!-- end 3 -->
												<div class="col-xs-3 col-md-3 text-right">
													<i class="ti-star"></i>2
												</div>
												<div class="col-xs-8 col-md-9">
													<div class="progress">
														<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20"
															aria-valuemin="0" aria-valuemax="100" style="width: 20%">
															<span class="sr-only">20%</span>
														</div>
													</div>
												</div>
												<!-- end 2 -->
												<div class="col-xs-3 col-md-3 text-right">
													<span class="glyphicon glyphicon-star"></span>1
												</div>
												<div class="col-xs-8 col-md-9">
													<div class="progress">
														<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80"
															aria-valuemin="0" aria-valuemax="100" style="width: 15%">
															<span class="sr-only">15%</span>
														</div>
													</div>
												</div>
												<!-- end 1 -->
											</div>
											<!-- end row -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<form class="review-form">
						<div class="form-group">
							<label>Đánh giá của bạn</label>
							<div class="reviews-counter">
								<div class="rate">
									<input type="radio" id="star5" name="rate" value="5" />
									<label for="star5" title="text">5 stars</label>
									<input type="radio" id="star4" name="rate" value="4" />
									<label for="star4" title="text">4 stars</label>
									<input type="radio" id="star3" name="rate" value="3" />
									<label for="star3" title="text">3 stars</label>
									<input type="radio" id="star2" name="rate" value="2" />
									<label for="star2" title="text">2 stars</label>
									<input type="radio" id="star1" name="rate" value="1" />
									<label for="star1" title="text">1 star</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label></label>
							<textarea class="form-control" rows="10"></textarea>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" name="" class="form-control" placeholder="Name*">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" name="" class="form-control" placeholder="Email Id*">
								</div>
							</div>
						</div>
						<button class="round-black-btn">Submit Review</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	{{!-- THÊM VÀO GIỎ HÀNG --}}
	<script>
      $('round-black-btn').on('click', function(){
		   var now = $(".qty").val();
		   this.href = this.href.replace("/themgiohang?tensach={{books.tensach}}&giaban={{books.giaban}}&hinhanh={{books.hinhanh}}&soluong=now&diachigh={{client_account.diachigoc}}")
	  })
    </script>

	<script>
        var swiper = new Swiper(".featured-slider", {
            //slidesPerView: '1',
            spaceBetween: 10,
            autoplay: true,
            //effect: 'coverflow',
            //grabCursor: true,
            //centeredSlides: true,
            slidesPerView: 'auto',
            //spaceBetween: 10,
            loop: true,
            centeredSlides: true,
            autoplay: {
                delay: 9000,
                disableOnInteraction: false,
                preloadImages: true,
                speed: 200
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                0: {
                    slidesPerView: 1,
                },
                450: {
                    slidesPerView: 2,
                },
                768: {
                    slidesPerView: 3,
                },
                1024: {
                    slidesPerView: 4,
                },
            },
        });
        swiper.update();
    </script>

    <script>
        $(document).ready(function() {
		    var slider = $("#slider");
		    var thumb = $("#thumb");
		    var slidesPerPage = 4; //globaly define number of elements per page
		    var syncedSecondary = true;
		    slider.owlCarousel({
		        items: 1,
		        slideSpeed: 2000,
		        nav: false,
		        autoplay: false, 
		        dots: false,
		        loop: true,
		        responsiveRefreshRate: 200
		    }).on('changed.owl.carousel', syncPosition);
		    thumb
		        .on('initialized.owl.carousel', function() {
		            thumb.find(".owl-item").eq(0).addClass("current");
		        })
		        .owlCarousel({
		            items: slidesPerPage,
		            dots: false,
		            nav: true,
		            item: 4,
		            smartSpeed: 200,
		            slideSpeed: 500,
		            slideBy: slidesPerPage, 
		        	navText: ['<svg width="18px" height="18px" viewBox="0 0 11 20"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M9.554,1.001l-8.607,8.607l8.607,8.606"/></svg>', '<svg width="25px" height="25px" viewBox="0 0 11 20" version="1.1"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M1.054,18.214l8.606,-8.606l-8.606,-8.607"/></svg>'],
		            responsiveRefreshRate: 100
		        }).on('changed.owl.carousel', syncPosition2);
		    function syncPosition(el) {
		        var count = el.item.count - 1;
		        var current = Math.round(el.item.index - (el.item.count / 2) - .5);
		        if (current < 0) {
		            current = count;
		        }
		        if (current > count) {
		            current = 0;
		        }
		        thumb
		            .find(".owl-item")
		            .removeClass("current")
		            .eq(current)
		            .addClass("current");
		        var onscreen = thumb.find('.owl-item.active').length - 1;
		        var start = thumb.find('.owl-item.active').first().index();
		        var end = thumb.find('.owl-item.active').last().index();
		        if (current > end) {
		            thumb.data('owl.carousel').to(current, 100, true);
		        }
		        if (current < start) {
		            thumb.data('owl.carousel').to(current - onscreen, 100, true);
		        }
		    }
		    function syncPosition2(el) {
		        if (syncedSecondary) {
		            var number = el.item.index;
		            slider.data('owl.carousel').to(number, 100, true);
		        }
		    }
		    thumb.on("click", ".owl-item", function(e) {
		        e.preventDefault();
		        var number = $(this).index();
		        slider.data('owl.carousel').to(number, 300, true);
		    });


            $(".qtyminus").on("click",function(){
                var now = $(".qty").val();
                if ($.isNumeric(now)){
                    if (parseInt(now) -1> 0)
                    { now--;}
                    $(".qty").val(now);
                }
            })            
            $(".qtyplus").on("click",function(){
                var now = $(".qty").val();
                if ($.isNumeric(now)){
                    $(".qty").val(parseInt(now)+1);
                }
            });
			$('.round-black-btn').on("click", function(){
		   var now = $(".qty").val();
		   this.href = "/themgiohang?tensach={{books.tensach}}&giaban={{books.giaban}}&hinhanh={{books.hinhanh}}&soluong=" + now;
	  })
		});
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="	sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
</body>
    
</html>