<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DaBook Shop</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DaBook Shop</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
  {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.x.x/css/swiper.min.css"> --}}
  <link rel="stylesheet" href="/client_styles/assets/css/base.css" />
  <link rel="stylesheet" href="/client_styles/assets/css/account.css" />
  <link
    rel="stylesheet"
    href="/client_styles/assets/fonts/themify-icons/themify-icons.css"
  />
  <link
    rel="stylesheet"
    href="/client_styles/assets/fonts/fontawesome-free-5.15.4/fontawesome-free-5.15.4-web/css/all.min.css"
  />
  <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap" rel="stylesheet"> -->
  <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,400&display=swap"
      rel="stylesheet">
  <link rel="stylesheet" href="./Dangky.html">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
</head>
<body>
  <!--Thông tin tài khoản-->
    <div class="app__container">
      <div class="grid">
        <div class="row account">
          <div class="col-2"> 
            <div class="nav flex-column account__nav">
              <li class="account__nav-user">
                <img class="account__nav-user-img" src="https://anhdep123.com/wp-content/uploads/2021/05/hinh-avatar-trang.jpg" alt="">
                <label class="account__nav-user-name">{{client_accounts}}</label>
                {{!-- <label class="account__nav-user-name">anhongkimy</label> --}}
              </li>
<!--Navigation-->
              <div class="account__nav-container">
                <li class="account__nav-item">
                  <div class="account__nav-title">
                    <a class="account__nav-title-link" id="user_account" href="#hoso">
                      <i class="account__nav-title-icon fas fa-user"></i>
                      <span class="account__nav-title-text">
                        Tài khoản của tôi
                      </span>
                    </a>        
                  </div>
                  <div class="account__nav-list" id="list_user_account">
                    <a href="#hoso" class="account__nav-list-link account__nav-list-link--active" id="account_profile">
                      <span>Hồ sơ</span>
                    </a>
                    <a href="#diachi" class="account__nav-list-link" id="account_address">
                      <span>Địa chỉ</span>
                    </a>
                    <a href="#doimatkhau" class="account__nav-list-link" id="account_password">
                      <span>Đổi mật khẩu</span>
                    </a>
                  </div>
                </li>
      
                <li class="account__nav-item">
                  <div class="account__nav-title">
                    <a class="account__nav-title-link" id="user_order" href="#donhang">
                      <i class="account__nav-title-icon fas fa-clipboard-list"></i>
                      <span class="account__nav-title-text" id="order">
                        Đơn hàng
                      </span>
                    </a>        
                  </div>
                </li>
      
                <li class="account__nav-item">
                  <div class="account__nav-title">
                    <a class="account__nav-title-link" id="user_noti" href="#thongbao">
                      <i class="account__nav-title-icon fas fa-bell"></i>
                      <span class="account__nav-title-text" id="noti">
                        Thông báo
                      </span>
                    </a>      
                  </div>
                </li>
      
                <li class="account__nav-item">
                  <div class="account__nav-title">
                    <a class="account__nav-title-link" id="user_voucher" href="#khovoucher">
                      <i class="account__nav-title-icon fas fa-ticket-alt"></i>
                      <span class="account__nav-title-text" id="voucher">
                        Kho voucher
                      </span>
                    </a>        
                  </div>
                </li>

                <li class="account__nav-item">
                  <div class="account__nav-title">
                    <a class="account__nav-title-link" id="user_point" href="#diemtichluy">
                      <i class="account__nav-title-icon fas fa-star"></i>
                      <span class="account__nav-title-text" id="point">
                        Điểm tích lũy
                      </span>
                    </a>        
                  </div>
                </li>
              </div>
            </div>
          </div>   
<!-- nội dung -->
          <div class="col-10">
            <div class="tab-content account__content">
              <div class="tab-pane active" id="hoso" role="tabpanel" aria-labelledby="hoso-tab">
                <div class="account__profile-form">
                  <div class="account__profile-heading">
                    <h1 class="account__profile-heading-title">Hồ sơ của tôi</h1>
                    <p class="account__profile-heading-notice">Quản lý thông tin hồ sơ để bảo mật tài khoản</p>
                  </div>
                  <div class="row account__content-container">
                    <form> 
                      <div class="account__content-profile-row">
                        <label class="account__content-profile-label">Tên đăng nhập</label>
                        <p class="account__content-profile-text">{{client_accounts.matk}}</p>
                      </div>
                      <div class="account__content-profile-row">
                        <label class="account__content-profile-label">Email</label>
                        <p class="account__content-profile-text">{{client_accounts.email}}</p>
                        <a class="account__content-profile-link" href="#">Thay đổi</a>
                      </div>
                      <div class="account__content-profile-row">
                        <label class="account__content-profile-label">Số điện thoại</label>
                        <p class="account__content-profile-text">{{client_accounts.sodt}}</p>
                        <a  class="account__content-profile-link" href="#">Thay đổi</a>
                      </div>
                      <div class="account__content-profile-row">
                        <label class="account__content-profile-label">Giới tính</label>
                        <p class="account__content-profile-text">
                          <input class="check-input" type="radio" name="gioitinh" id ="Nam">
                          <label for="Nam">
                            Nam &nbsp;&nbsp;&nbsp;
                          </label>
                          <input class="check-input" type="radio" name="gioitinh" id ="Nu" checked >
                          <label for="Nữ">
                            Nữ &nbsp;&nbsp;&nbsp;
                          </label>
                          <input class="check-input" type="radio" name="gioitinh" id ="Nam">
                          <label for="Khac">
                            Khác 
                          </label>
                        </p>
                      </div>
                      <div class="account__content-profile-row">
                        <label class="account__content-profile-label">Ngày sinh</label>
                        <div class="account__content-profile-text">
                          <div class="account__content-profile-dropdown" id="input_day">
                            <span id="ngay">1</span>
                            <i class="account__content-profile-dropdown-icon fas fa-chevron-down"></i>
                          </div>
                          <div class="vertical-menu" id="list_day">
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#">6</a>
                            <a href="#">7</a>
                            <a href="#">8</a>
                            <a href="#">9</a>
                            <a href="#">10</a>
                          </div>
                        </div>
                        <div class="account__content-profile-text">
                          <div class="account__content-profile-dropdown" id="input_month"> 
                            <span>1</span>
                            <i class="account__content-profile-dropdown-icon fas fa-chevron-down"></i>
                          </div>
                          <div class="vertical-menu" id="list_month">
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#">6</a>
                            <a href="#">7</a>
                            <a href="#">8</a>
                            <a href="#">9</a>
                            <a href="#">10</a>
                          </div>
                        </div>
                        <div class="account__content-profile-text">
                          <div class="account__content-profile-dropdown" id="input_year">
                            <span>2001</span>
                            <i class="account__content-profile-dropdown-icon fas fa-chevron-down"></i>
                          </div>
                          <div class="vertical-menu" id="list_year">
                            <a href="#">2001</a>
                            <a href="#">2002</a>
                            <a href="#">2003</a>
                            <a href="#">2004</a>
                            <a href="#">2005</a>
                            <a href="#">2006</a>
                            <a href="#">2007</a>
                            <a href="#">2008</a>
                            <a href="#">2009</a>
                            <a href="#">2010</a>
                          </div>
                        </div>
                      </div>
                      <div class="account__content-profile-row">
                        <label class="account__content-profile-label"></label>
                        <div class="account__content-profile-text">
                          <button class="account-btn account-btn--primary">Lưu thay đổi</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-content account__content">
              <div class="tab-pane" id="diachi" role="tabpanel" aria-labelledby="diachi-tab">
                <div class="account__address-form">
                  <div class="account__address-heading">
                    <h1 class="account__address-heading-title">Địa chỉ của tôi</h1>
                    <button class="account-btn account-btn--primary">
                      <i class="fas fa-plus" style="margin-right: 3px;"></i>
                      Thêm địa chỉ mới</button>
                  </div>
                  <form> 
                    <div class="account__address-info">
                      <div class="account__address-info-content">
                        <div class="account__content-address-row">
                          <label class="account__content-address-label">Họ và tên</label>
                          <p class="account__content-address-text">{{client_accounts.hoten}}</p>  
                          <p class=" account__content-address-text address-mode" id="address_mode">Địa chỉ mặc định</p> 
                        </div>
                        <div class="account__content-address-row">
                          <label class="account__content-address-label">Số điện thoại</label>
                          <p class="account__content-address-text">{{client_accounts.sodt}}</p>  
                        </div>
                        <div class="account__content-address-row">
                          <label class="account__content-address-label">Địa chỉ</label>
                          <p class="account__content-address-text">{{client_accounts.diachigoc}}</p>  
                        </div>
                      </div>
                      <div class="account__address-info-btn">
                        <div class="account__btn-edit">
                          <a href="" style="text-decoration:none">Sửa</a>
                        </div>
                        <div class="account__btn-default account__btn-default--disable">
                          <span>Thiết lập mặc định</span>
                        </div>
                      </div>
                    </div>  

                    <div class="account__address-info">
                      <div class="account__address-info-content">
                        <div class="account__content-address-row">
                          <label class="account__content-address-label">Họ và tên</label>
                          <p class="account__content-address-text">Nguyễn Văn A</p>  
                        </div>
                        <div class="account__content-address-row">
                          <label class="account__content-address-label">Số điện thoại</label>
                          <p class="account__content-address-text">81024872</p>  
                        </div>
                        <div class="account__content-address-row">
                          <label class="account__content-address-label">Địa chỉ</label>
                          <p class="account__content-address-text">Số 34, tổ 7, đường Võ Tấn Đức, khóm 2, thị trấn Tam Bình, huyện Tam Bình ,tỉnh Vĩnh Long</p>  
                        </div>
                      </div>
                      <div class="account__address-info-btn">
                        <div class="account__btn-edit">
                          <a href="" style="text-decoration:none">Sửa</a>
                        </div>
                        <div class="account__btn-default account__btn-default--primary">
                          <span>Thiết lập mặc định</span>
                        </div>
                      </div>
                    </div> 
                  </form>
                </div>
              </div>
            </div>

            <div class="tab-content account__content">
              <div class="tab-pane" id="doimatkhau" role="tabpanel" aria-labelledby="doimatkhau-tab">
                <div class="account__profile-form">
                  <div class="account__profile-heading">
                    <h1 class="account__profile-heading-title">Đổi mật khẩu</h1>
                    <p class="account__profile-heading-notice">Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu</p>
                  </div>
                  <div class="account__content-container">
                    <form> 
                      <div class="account__profile-info-content">
                        <div class="account__content-profile-row">
                          <label class="account__content-password-label">Mật khẩu hiện tại</label>
                          <input class="check-text" type="password" value="" id="matkhauht">
                          <a class="account__content-profile-link" href="#">Quên mật khẩu</a> 
                        </div>
                        <div class="account__content-profile-row">
                          <label class="account__content-password-label">Mật khẩu mới</label>
                          <input class="check-text" type="password" value="" id="matkhaumoi">
                        </div>
                        <div class="account__content-profile-row">
                          <label class="account__content-password-label">Xác nhận mật khẩu</label>
                          <input class="check-text" type="password" value="" id="xacnhanmk">
                        </div>  
                      </div>
                      <div class="account__content-profile-row">
                        <label class="account__content-password-label"></label>
                        <div class="account__content-profile-text">
                          <button class="account-btn account-btn--disable" id="btn_xacnhan">Xác nhận</button>
                        </div>
                      </div>
                    </form>
                  </div> 
                </div>
              </div>
            </div>

            <div class="tab-content account__content">
              <div class="tab-pane" id="donhang" role="tabpanel" aria-labelledby="donhang-tab">
                <div class="account__address-form">
                  <div class="account__order-heading">
                    <h1 class="account__address-heading-title">Đơn hàng của tôi</h1>
                  </div>
                  <div class="account__order-table">
                    <div class="dashboard-order"> 
                      <table class="table-responsive">
                        <thead>
                          <tr>
                            <th>Mã đơn hàng</th>
                            <th>Ngày đặt</th>
                            <th>Sản phẩm</th>
                            <th>Tổng tiền</th>
                            <th>Trạng thái</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="plus">12345</td>
                            <td>20:54 01/12/2021</td>
                            <td>Sách Thất tịch không mưa</td>
                            <td>100.000</td>
                            <td>Giao hàng thành công</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-content account__content--noti">
              <div class="tab-pane" id="thongbao" role="tabpanel" aria-labelledby="thongbao-tab">
                <div class="account__address-form">
                  <div class="account__noti-heading">
                    <h1 class="account__address-heading-title">Thông báo của tôi</h1>
                    <div class="account__btn-default account__btn-default--primary" id="btn_danhdau">
                      <span>Đánh dấu Đã đọc tất cả</span>
                    </div>
                  </div>
                  <ul class="account__notify-list">
                    <li class="account__notify-item account__notify-item--view">
                      <a href="" class="account__notify-link">
                        <img src="https://rigo.vn/wp-content/uploads/2018/06/74_HarryPottertap7HarryPottervaBaoboiTuthan_rigo.jpg" alt="" class="account__notify-img">
                        <div class="account__notify-info">
                          <span class="account__notify-name">Đơn hàng của bạn đang được vận chuyển</span>
                          <span class="account__notify-description">Harry Potter và bảo bối tử thần</span>
                          <span class="account__notify-time">12:30 11/11/2021</span>
                        </div>
                      </a>
                      <div class="account__btn-default account__btn-default--primary">
                        <span>Xem chi tiết</span>
                      </div>
                    </li>
                    <li class="account__notify-item">
                      <a href="" class="account__notify-link">
                        <img src="https://rigo.vn/wp-content/uploads/2018/06/74_HarryPottertap7HarryPottervaBaoboiTuthan_rigo.jpg" alt="" class="account__notify-img">
                        <div class="account__notify-info">
                          <span class="account__notify-name">Đơn hàng của bạn đã được xác nhận</span>
                          <span class="account__notify-description">Harry Potter và bảo bối tử thần</span>
                          <span class="account__notify-time">12:30 11/11/2021</span>
                        </div>
                      </a>
                      <div class="account__btn-default account__btn-default--primary">
                        <span>Xem chi tiết</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="tab-content account__content--voucher">
              <div class="tab-pane" id="khovoucher" role="tabpanel" aria-labelledby="khovoucher-tab">
                <div class="account__noti-heading">
                  <h1 class="account__address-heading-title">Mã giảm giá của tôi</h1>
                </div>
                <div class="account__voucher-form">
                  <div class="voucher__navbar">
                    <div class="col-2">
                      <div class="voucher__nav-item voucher__nav-item-link--active" id="all_voucher_link">
                        <a class="voucher__nav-item-link" href="#all_voucher">
                          <span class="voucher__nav-item-link-text">Tất cả</span>
                        </a>
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="voucher__nav-item" id="expired_voucher_link">
                        <a class="voucher__nav-item-link" href="#expired_voucher">
                          <span class="voucher__nav-item-link-text">Đã sử dụng</span>
                        </a>
                      </div>
                    </div>
                    <div class="col-8"></div>
                  </div>
                  <form>
                    <div class="tab-pane" id="all_voucher" role="tabpanel" aria-labelledby="all_voucher-tab">
                      <div class="list-card">
                       {{#each client_accounts.danhsach_km}}
                     
                        <div class="account__card">
                          <div class="account__card-img">
                            <img src="/client_styles/assets/img/logo.png" class="account__voucher-logo">
                          </div>
                          <div class="account__card-content">
                            <div class="card-container">
                              <h3 class="card-title khachhang" name="{{this.makm}}">Giảm {{this.phantram}}%</h3>
                              <p class="card-text account__card-text">Mã nhập {{this.makm}}</p>                                       
                              <p class="card-text account__card-text"><small class="text-muted">HSD: {{this.ngaybd}}</small></p>
                            </div> 
                            <div>
                              <a href="" class="card-link" name="{{this.makm}}">
                                <span>Dùng ngay</span> 
                                <i class="fas fa-chevron-right"></i>
                              </a>
                            </div> 
                          </div>
                        </div>
                        {{/each}}
                      </div>
                    </div>
                    <div class="tab-pane" id="expired_voucher" role="tabpanel" aria-labelledby="expired_voucher-tab">
                      <div class="list-card">
                        <div class="account__card account__card--expired">
                          <div class="account__card-img">
                            <img src="/client_styles/assets/img/logo.png" class="account__voucher-logo">
                          </div>
                          <div class="account__card-content">
                            <div class="card-container">
                              <h3 class="card-title khachhang" name="{{this.makm}}">Giảm {{this.phantram}}%</h3>      
                              <p class="card-text account__card-text">Đơn hàng từ {{this.dieukien}}.000VNĐ</p>                                       
                              <p class="card-text account__card-text"><small class="text-muted">HSD: 31/12/2021</small></p>
                            </div> 
                            <div>
                              <a href="" class="card-link" name="{{this.makm}}">
                                <span>Dùng ngay</span> 
                                <i class="fas fa-chevron-right"></i>
                              </a>
                            </div> 
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="tab-content account__content">
              <div class="tab-pane" id="diemtichluy" role="tabpanel" aria-labelledby="diemtichluy-tab">
                <div class="account__address-form">
                  <div class="account__address-heading">
                    <h1 class="account__address-heading-title">Điểm của tôi</h1>
                    <p class="account__profile-heading-notice">
                      Bạn đang có <span class="account__point">500</span> điểm.
                    </p>
                  </div>
                  <div class="account__point-table">
                    <p class="table-title">LỊCH SỬ ĐIỂM</p>
                    <div class="dashboard-order"> 
                      <table class="table-responsive">
                        <thead>
                          <tr>
                            <th>Điểm</th>
                            <th>Thời gian</th>
                            <th>Nội dung</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="col-center plus">+10</td>
                            <td class="col-center">01/12/2021</td>
                            <td>Nhận được 10 điểm khi mua sách thành công</td>
                          </tr>
                          <tr>
                            <td class="col-center minus">-10</td>
                            <td class="col-center">05/12/2021</td>
                            <td>Trừ 10 điểm khi đặt sách Thất Tịch không mưa</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- JS nav user account -->
    <script>
      /*Tài khoản của tôi*/
      $('#user_account').click(function(){
        $('#list_user_account').show();
        $('#hoso').show();
        $('#diachi').hide();
        $('#doimatkhau').hide();
        $('#donhang').hide();
        $('#thongbao').hide();
        $('#khovoucher').hide();
        $('#diemtichluy').hide();
        $('#account_profile').addClass('account__nav-list-link--active');
      })

      /*Hồ sơ*/
      $('#account_profile').click(function(){
        $('#hoso').show();
        $('#diachi').hide();
        $('#doimatkhau').hide();
        $('#donhang').hide();
        $('#thongbao').hide();
        $('#khovoucher').hide();
        $('#diemtichluy').hide();
        $('#account_profile').addClass('account__nav-list-link--active');
        $('#account_address').removeClass('account__nav-list-link--active');
        $('#account_password').removeClass('account__nav-list-link--active');
        $('#order').removeClass('account__nav-list-link--active');
        $('#noti').removeClass('account__nav-list-link--active');
        $('#voucher').removeClass('account__nav-list-link--active');
        $('#point').removeClass('account__nav-list-link--active');
      })

      /*Địa chỉ*/
      $('#account_address').click(function(){
        $('#hoso').hide();
        $('#diachi').show();
        $('#doimatkhau').hide();
        $('#donhang').hide();
        $('#thongbao').hide();
        $('#khovoucher').hide();
        $('#diemtichluy').hide();
        $('#account_profile').removeClass('account__nav-list-link--active');
        $('#account_address').addClass('account__nav-list-link--active');
        $('#account_password').removeClass('account__nav-list-link--active');
        $('#order').removeClass('account__nav-list-link--active');
        $('#noti').removeClass('account__nav-list-link--active');
        $('#voucher').removeClass('account__nav-list-link--active');
        $('#point').removeClass('account__nav-list-link--active');
      })

      /*Đổi mật khẩu*/
      $('#account_password').click(function(){
        $('#hoso').hide();
        $('#diachi').hide();
        $('#doimatkhau').show();
        $('#donhang').hide();
        $('#thongbao').hide();
        $('#khovoucher').hide();
        $('#diemtichluy').hide();
        $('#account_profile').removeClass('account__nav-list-link--active');
        $('#account_address').removeClass('account__nav-list-link--active');
        $('#account_password').addClass('account__nav-list-link--active');
        $('#order').removeClass('account__nav-list-link--active');
        $('#noti').removeClass('account__nav-list-link--active');
        $('#voucher').removeClass('account__nav-list-link--active');
        $('#point').removeClass('account__nav-list-link--active');

      })

      /*Đơn mua*/
      $('#user_order').click(function(){
        $('#list_user_account').hide();
        $('#hoso').hide();
        $('#diachi').hide();
        $('#doimatkhau').hide();
        $('#donhang').show();
        $('#thongbao').hide();
        $('#khovoucher').hide();
        $('#diemtichluy').hide();
        $('#account_profile').removeClass('account__nav-list-link--active');
        $('#account_address').removeClass('account__nav-list-link--active');
        $('#account_password').removeClass('account__nav-list-link--active');
        $('#order').addClass('account__nav-list-link--active');
        $('#noti').removeClass('account__nav-list-link--active');
        $('#voucher').removeClass('account__nav-list-link--active');
        $('#point').removeClass('account__nav-list-link--active');
      })

      /*Thông báo*/
      $('#user_noti').click(function(){
        $('#list_user_account').hide();
        $('#hoso').hide();
        $('#diachi').hide();
        $('#doimatkhau').hide();
        $('#donhang').hide();
        $('#thongbao').show();
        $('#khovoucher').hide();
        $('#diemtichluy').hide();
        $('#account_profile').removeClass('account__nav-list-link--active');
        $('#account_address').removeClass('account__nav-list-link--active');
        $('#account_password').removeClass('account__nav-list-link--active');
        $('#order').removeClass('account__nav-list-link--active');
        $('#noti').addClass('account__nav-list-link--active');
        $('#voucher').removeClass('account__nav-list-link--active');
        $('#point').removeClass('account__nav-list-link--active');
      })

      /*Kho voucher*/
      $('#user_voucher').click(function(){
        $('#list_user_account').hide();
        $('#hoso').hide();
        $('#diachi').hide();
        $('#doimatkhau').hide();
        $('#donhang').hide();
        $('#thongbao').hide();
        $('#khovoucher').show();
        $('#diemtichluy').hide();
        $('#expired_voucher').hide();
        $('#account_profile').removeClass('account__nav-list-link--active');
        $('#account_address').removeClass('account__nav-list-link--active');
        $('#account_password').removeClass('account__nav-list-link--active');
        $('#order').removeClass('account__nav-list-link--active');
        $('#noti').removeClass('account__nav-list-link--active');
        $('#voucher').addClass('account__nav-list-link--active');
        $('#point').removeClass('account__nav-list-link--active');
        
      })

      /*Điểm tích lũy*/
      $('#user_point').click(function(){
        $('#list_user_account').hide();
        $('#hoso').hide();
        $('#diachi').hide();
        $('#doimatkhau').hide();
        $('#donhang').hide();
        $('#thongbao').hide();
        $('#khovoucher').hide();
        $('#diemtichluy').show();
        $('#account_profile').removeClass('account__nav-list-link--active');
        $('#account_address').removeClass('account__nav-list-link--active');
        $('#account_password').removeClass('account__nav-list-link--active');
        $('#order').removeClass('account__nav-list-link--active');
        $('#noti').removeClass('account__nav-list-link--active');
        $('#voucher').removeClass('account__nav-list-link--active');
        $('#point').addClass('account__nav-list-link--active');
      })

      $('#expired_voucher_link').click(function(){
        $('#expired_voucher_link').addClass('voucher__nav-item-link--active');
        $('#all_voucher_link').removeClass('voucher__nav-item-link--active');

        $('#expired_voucher').show();
        $('#all_voucher').hide();
      })

      $('#all_voucher_link').click(function(){
        $('#all_voucher_link').addClass('voucher__nav-item-link--active');
        $('#expired_voucher_link').removeClass('voucher__nav-item-link--active');

        $('#all_voucher').show();
        $('#expired_voucher').hide();
      })
    </script>
    
    <!-- JS scroll ngày tháng năm  -->
    <script>
      var container = $('#list_day');
      $('#input_day').click(function(){
        $('#list_day').show();
        if()

      })

      $('#input_month').click(function(){
        $('#list_month').toggle();
      })

      $('#input_year').click(function(){
        $('#list_year').toggle();
      }) 
    </script>

    <!--Button Xác nhận đổi mật khẩu
    <script>
      function kiemtra{
        if($('#matkhauht').val()!=""|| $('#matkhaumoi').val()!=""|| $('#xacnhanmk').val()!=""){
          $('#btn_xacnhan').removeClass.('btn_account--disable');
          $('#btn_xacnhan').addClass.('btn_account--primary');
        }
      }
    </script>-->
    <script>
      $('#btn_danhdau').click(function(){
        $('.account__notify-item').removeClass('account__notify-item--view');
        $('#btn_danhdau').removeClass('account__btn-default--primary');
        $('#btn_danhdau').addClass('account__btn-default--disable');
      })
    </script>
</body>
</html>