<div class="content-container">

  <div class="container-fluid">
    <div class="jumbotron mt-2">
      <div class="row">
        <div class="jumbotron mt-2">
          <img src="{{books.hinhanh_src}}" width="500px" />
        </div>
        <div class="jumbotron mt-2">
          <div class="container">
            <p><b>Tên sách: </b>{{books.tensach}}</p>
            <p><b>Tác giả: </b>{{books.tacgia}}</p>
            <p><b>Thể loại: </b>{{books.mini2_subhome}}</p>
            <p><b>Nhà Xuất bản: </b>{{books.nxb}}</p>
            <p><b>Năm Xuất Bản: </b>{{books.namxb}}</p>
            <p><b>Ngôn ngữ: </b>{{books.ngonngu}}</p>
            <p><b>Hình thức: </b>{{books.hinhthuc}}</p>
            <p><b>Giá bán: </b>{{books.giaban}}</p>
            <p style="width: 500px;"><b>Mô tả: </b><br />{{books.mota}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-container">

  <div class="container-fluid">
    <div class="jumbotron mt-2">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Tên Sách</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Tên Sách"
            value="{{books.tensach}}"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Tác Giả</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Tác Giả"
            value="{{books.tacgia}}"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Thể Loại</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Thể Loại"
            value="{{books.mini2_subhome}}"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Nhà Sản Xuất</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Nhà Sản Xuất"
            value="{{books.nxb}}"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Ngôn Ngữ</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Ngôn Ngữ"
            value="{{books.namxb}}"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Khu Vực</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Khu Vực"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Mô Tả</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Mô Tả"
            value="{{books.mota}}"
          />
        </div>
        <div class="row mb-4">
          <div class="col">
            <div class="form-group">
              <label for="exampleInputPassword1">Giá</label>
              <input
                type="number"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Giá"
                value="{{books.giaban}}"
              />
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label for="exampleInputPassword1">Số Lượng Tồn</label>
              <input
                type="number"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Số lượng tồn"
              />
            </div>
          </div>

        </div>

        <button type="submit" class="btn btn-primary">Cập nhật</button>
      </form>
    </div>
  </div>
</div>