
    <!-----------------------------------------------------------------------------BIẾN TẤU------------------------------------------------>
        <div class="container-fluid rounded" style= "background-color:white; padding-top:20px; padding-bottom:20px">
          <div class="col">
            <div class="row">
               <div>
                    <img src="{{books.hinhanh}}" style="padding-left: 10px; width: 500px"/>
                </div>

                <div style="width: 1000px;">
                  <form method="post" action="/admin/quan-ly-sach/{{books.masach}}/update">
                        <div class="form-group">
                        <label for="exampleInputEmail1"><b>Mã sách</b></label>
                        <input type="text" class="form-control" name="masach" value="{{books.masach}}" readonly>
                        </div>


                        <div class="form-group">
                        <label for="exampleInputEmail1"><b>Tên sách</b></label>
                        <input type="text" class="form-control" name="tensach" value="{{books.tensach}}">
                        </div>

                        <div class="form-group">
                        <label for="exampleInputEmail1"><b>Tác giả</b></label>
                        <input type="text" class="form-control" name="tacgia" value="{{books.tacgia}}">
                        </div>

                        <div class="form-group">
                        <label for="exampleInputEmail1"><b>Thể loại</b></label>
                        <input type="text" class="form-control" name="theloai" value="{{books.theloai}}">
                        </div>

                        <div class="form-group">
                        <label for="exampleInputEmail1"><b>Nhà xuất bản</b></label>
                        <input type="text" class="form-control" name="nxb" value="{{books.nxb}}">
                        </div>

                        <div class="form-group">
                        <label for="exampleInputEmail1"><b>Năm xuất bản</b></label>
                        <input type="text" class="form-control" name="namxb" value="{{books.namxb}}">
                        </div>

                        <div class="form-group">
                        <label for="exampleInputEmail1"><b>Ngôn ngữ</b></label>
                        <input type="text" class="form-control" name="ngonngu" value="{{books.ngonngu}}">
                        </div>

                        <div class="form-group">
                        <label for="exampleInputEmail1"><b>Link hình ảnh</b></label>
                        <input type="text" class="form-control" name="hinhanh" value="{{books.hinhanh}}">
                        </div>

                        <div class="form-group">
                        <label for="exampleFormControlTextarea1"><b>Mô tả</b></label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="15" name="mota">{{books.mota}}</textarea>
                        </div>

                        <div class="form-group">
                        <label for="exampleInputEmail1"><b>Hình thức</b></label>
                        <input type="text" class="form-control" name="hinhthuc" value={{books.hinhthuc}}>
                        </div>

                        <div class="form-group">
                        <label for="exampleInputEmail1"><b>Giá bán</b></label>
                        <input type="text" class="form-control" name="giaban" value="{{books.giaban}}">
                        </div>

                        <div class="form-group">
                        <label for="exampleInputEmail1"><b>Giảm giá</b></label>
                        <input type="text" class="form-control" name="giamgia" value="{{books.giamgia}}">
                        </div>

                        <div class="form-group">
                        <label for="exampleInputEmail1"><b>Số lượng tồn</b></label>
                        <input type="number" class="form-control" name="soluongton" value="{{books.soluongton}}">
                        </div>

                      
                        <div class="form-group">
                        <label for="exampleInputEmail1"><b>Nhóm</b></label>
                        <input type="text" class="form-control" name="nhom" value="{{books.nhom}}">
                        </div>

                        <div class="form-group">
                        <label for="exampleInputEmail1"><b>Khu Vực</b></label>
                        <input type="text" class="form-control" name="khuvuc" value="{{books.khuvuc}}">
                        </div>

                        <div class="form-group">
                        <label for="exampleInputEmail1"><b>Số Đánh Giá</b></label>
                        <input type="text" class="form-control" name="sodanhgia" value="{{books.sodanhgia}}">
                        </div>

                        <div class="form-group">
                        <label for="exampleInputEmail1"><b>Số Bình Chọn</b></label>
                        <input type="text" class="form-control" name="sobinhchon" value="{{books.binhchon}}">
                        </div>

                      <button type="submit" class="btn btn-primary">Cập nhật thông tin</button>
                  </form>
                </div>
            </div>
              
          </div>
        </div>
              
        <!-----------------------------------------------------------------------------BIẾN TẤU------------------------------------------------>
    

