<div class="content-container" style="width: 1000px;">

    <div class="container-fluid">
    <div class="jumbotron mt-2">
      <form method="post" action="/admin/quan-ly-sach/them-sach/save">
        <div class="form-group">
          <label for="exampleInputEmail1">Mã Sách</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            value="{{books.masach}}"
            name="masach"
          />
        <div class="form-group">
          <label for="exampleInputEmail1">Tên Sách</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            value="{{books.tensach}}"
            name="tensach"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Tác Giả</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Tác Giả"
            value="{{books.tacgia}}"
            name="tacgia"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Thể Loại</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Thể Loại"
            value="{{books.theloai}}"
            name="theloai"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Nhà Sản Xuất</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Nhà Sản Xuất"
            value="{{books.nxb}}"
            name="nxb"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Năm Xuất Bản</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Năm Xuất Bản"
            value="{{books.namxb}}"
            name="namxb"
          />
          </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Khu Vực</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Khu Vực"
            name="khuvuc"
            value="{{books.khuvuc}}"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Ngôn Ngữ</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Ngôn Ngữ"
            value="{{books.ngonngu}}"
            name="ngonngu"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Link hình ảnh</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Mô Tả"
            value="{{books.hinhanh}}"
            name="hinhanh"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Hình Thức</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Mô Tả"
            value="{{books.hinhthuc}}"
            name="hinhthuc"
          />
        </div>
        <div class="row mb-4">
          <div class="col">
            <div class="form-group">
              <label for="exampleInputPassword1">Giá</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Giá"
                value="{{books.giaban}}"
                name="giaban"
              />
            </div>
          </div>

          <div class="col">
            <div class="form-group">
              <label for="exampleInputPassword1">Số Lượng Tồn</label>
              <input
                type="number"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Số lượng tồn"
                value="{{books.soluongton}}"
                name="soluongton"
              />
            </div>
          </div>

        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Mô Tả</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Mô Tả"
            value="{{books.mota}}"
            name="mota"
          />
        </div>
        <button type="submit" class="btn btn-primary">Thêm Sách</button>
      </form>
    </div>
  </div>
</div>