
    <!-----------------------------------------------------------------------------BIẾN TẤU------------------------------------------------>
          {{#each books}}
            <div class="box mt-4">
              <div class="col">
                <img
                    class="card-img-top"
                    src="{{this.hinhanh}}"
                    alt="Card image cap"
                  />
                  <p>Mã sách: <b>{{this.masach}}</b></p>
                  <p>Tác giả: {{this.tacgia}}</p>
                  <p>NXB: {{this.nxb}}</p>
                  <div class="row" style="margin-left: 1px;">
                    <div class="button"><a href="/admin/quan-ly-sach/{{this.masach}}">Chi tiết</a></div>
                    <div class="button" style="margin-left: 15px;"><a href="#">Xóa</a></div>
                  </div>
                  
              </div>
            </div>
          {{/each}}
    <!-----------------------------------------------------------------------------BIẾN TẤU------------------------------------------------>
