<div class="content-container">

  <div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Quản Lý Tài Khoản</a>
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <button type="button" class="btn btn-link">Tra thông tin chi tiết</button>
          </div>
        </div>
      </div>
    </nav>

    <div class="jumbotron mt-2">
      <div class="row">
        {{#each books}}
          <a href="quan-ly-sach/{{this._id}}" style="color: black;">
            <div class="col">
              <div
                class="card"
                style="height:auto; width:18rem; margin-top:20px"
              >
                <img
                  class="card-img-top"
                  src="{{this.hinhanh_src}}"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title">{{this.tensach}}</h5>
                  <p class="card-text">Tác giả: {{this.tacgia}}</p>
                  <p class="card-text">NXB: {{this.nxb}}</p>
                  <p class="card-text">Thể loại: {{this.mini2_subhome}}</p>
                </div>
              </div>
            </div>
          </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>